.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--fixed-height);
  margin-bottom: var(--fixed-height);
}

a.active svg {
  fill: var(--purple);
}
